@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    /* filter: blur(20px); */
}
.logo{
    height: 100px;
    width: 172px;
}
button{
    padding: 7px 20px;
    font-family: 'Montserrat';
}
button:hover{
    background-color: black;
    color: white;
}